// color
$primary-color: #2484bb;
$primary-color-hover: #2091ad;
$secondary-color: #fff;

//bg color
$primary-bg-color: #fff;

// font
$primary-font: 'Raleway';
$secondary-font: 'Quicksand', sans-serif;

//border
$primary-border-color: #f2f2f2;

//font-size
$font-size-1: 0.5rem;
$font-size-2: 0.8rem;
$font-size-3: 1rem;
$font-size-4: 1.2rem;
